- name: install python3 packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: installed
  loop:
  - python3 
  - gcc 
  - python3-devel
  - python3-pip

- name: install aws python libraries
  ansible.builtin.pip:
    name:
      - boto3
      - botocore
    executable: pip3.9

- name: install dependencies
  ansible.builtin.pip:
    requirements: requirements.txt
    executable: pip3.9
  args:
    chdir: /app